body {
  background-color: snow;
  font-family: "Seouge UI";
}

h3 {
  font-family: "Courier New";
  font-size: 1rem;
}

.main-heading {
  color: indigo;
  font-size: 2.5rem;
}
.main-subtitle {
  color: gray;
  font-size: 1.25rem;
}
.team-member {
  width: 16rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.team-member:hover {
  border: 1px #414141 solid;
}
.team-member p {
  opacity: 0.8;
}
#anna {
  background-color: darkcyan;
  color: beige;
}
#anna h2,
#anna h3 {
  color: honeydew;
}
#harry {
  background-color: cornsilk;
}
#harry h2,
#harry h3 {
  color: darkslategray;
}
#sofia {
  background-color: dodgerblue;
  color: lightcyan;
}
#sofia h2,
#sofia h3 {
  color: navy;
}

.profile-img {
  padding: 0.5rem;
  padding-bottom: 0;
}
